<!DOCTYPE html>
<html>
    <head>
        <title>Individual Project</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
    </head>
    <style type="text/css">
        ul {
            list-style-type: none;
        }
    </style>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <div id="nav">
            <p>Navigation</p>
            <ul>
                {% block nav %}{% endblock %}
                <li><a href="{{url_for('main')}}">Index</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
                {% if 'username' in session %}
                <li><a href="{{url_for('flashcard')}}">Flashcards</a></li>
                <li><a href="{{url_for('login')}}">Logout</a>
                {% else %}
                <li><a href="{{url_for('login')}}">Login</a>
                {% endif %}
            </ul>
        </div>
        <div id="flashed">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
        {% endwith %}
        </div>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    	<script src="js/bootstrap.min.js"></script>
    </body>
</html>
