{% extends "base.html" %}
{% block body %}
    <h2>Gallery</h2>
    <ul style="list-style:none">
        <li style="float:left"><a href="http://tinyurl.com/c7lcgkn"><img style="height: 200px; padding:10px" src="/static/img/pythonbk1.jpg" alt="Python Programming-Zelle"></a></li>
        <li style="float:left"><a href="http://tinyurl.com/boja68y"><img style="height: 200px; padding:10px" src="/static/img/pythonbk2.jpg" alt="Python Programming for the Absolute Beginner"></a></li>
        <li style="float:left"><a href="http://tinyurl.com/d8o5pw4"><img style="height: 200px; padding:10px" src="/static/img/pythonbk3.jpg" alt="Programming Python"></a></li>
        <li style="float:left"><a href="http://tinyurl.com/d8fx236"><img style="height: 200px; padding:10px" src="/static/img/pythonbk4.jpg" alt="Programming the Raspberry Pi"></a></li>
        <li style="float:left"><a href="http://tinyurl.com/c2g9bl8"><img style="height: 200px; padding:10px" src="/static/img/pythonbk5.jpg" alt="Python for Data Analysis"></a></li>
        <li style="float:left"><a href="http://tinyurl.com/bnxyxwc"><img style="height: 200px; padding:10px" src="/static/img/pythonbk6.jpg" alt="Python in a Day"></a></li>
        <li style="float:left"><a href="http://tinyurl.com/cts8zhv"><img style="height: 200px; padding:10px" src="/static/img/pythonbk7.jpg" alt="Learning Python"></a></li>
        <li style="float:left"><a href="http://tinyurl.com/cqewkcr"><img style="height: 200px; padding:10px" src="/static/img/pythonbk8.jpg" alt="Python Core Applications"></a></li>
    </ul>
{% endblock %}
