{% extends "base.html" %}
{% block body %}
    <h2>Gallery</h2>
    <ul style="list-style:none">
        <li style="float:left"><img style="height: 200px; padding:10px" src="/static/img/pythonbk1.jpg" alt="Python Programming-Zelle"></li>
        <li style="float:left"><img style="height: 200px; padding:10px" src="/static/img/pythonbk2.jpg" alt="Python Programming for the Absolute Beginner"></li>
        <li style="float:left"><img style="height: 200px; padding:10px" src="/static/img/pythonbk3.jpg" alt="Programming Python"></li>
        <li style="float:left"><img style="height: 200px; padding:10px" src="/static/img/pythonbk4.jpg" alt="Programming the Raspberry Pi"></li>
        <li style="float:left"><img style="height: 200px; padding:10px" src="/static/img/pythonbk5.jpg" alt="Python for Data Analysis"></li>
        <li style="float:left"><img style="height: 200px; padding:10px" src="/static/img/pythonbk6.jpg" alt="Python in a Day"></li>
        <li style="float:left"><img style="height: 200px; padding:10px" src="/static/img/pythonbk7.jpg" alt="Learning Python"></li>
        <li style="float:left"><img style="height: 200px; padding:10px" src="/static/img/pythonbk8.jpg" alt="Python Core Applications"></li>
    </ul>
{% endblock %}
