{% extends "base.html" %}
{% block body %}
<div class="hero-unit">
    <h1>List of Python online tutorials</h1>
    <br />
    <ul style="list-style:none">
        <li><a href="http://www.afterhoursprogramming.com/tutorial/Python/Overview/"</a>After Hours Programming</li>
        <li><a href="http://hetland.org/writing/instant-hacking.html"</a>Instant Hacking</li>
        <li><a href="http://en.wikibooks.org/wiki/Non-Programmer's_Tutorial_for_Python_3.0"</a>Non-Programmer's Tutorial</li>
        <li><a href="http://www.learnstreet.com/lessons/languages/python"</a>Python for Beginners</li>
    </ul>
</div>
{% endblock %}
